/*.Bathome1 {
  width: 100%;
  background-image: url("Assets/Illustrations/Bathome1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}
  /* Ces propriétés si on mettait le background-image juste pour une section.*/

html {
  margin: 0;
  padding: 0;
  overflow-x: visible;
}

body {
  /* code napiko */
  display: flex;
  flex-direction: column;
  /* katreto */
  box-sizing: border-box;
  color: white;
  text-align: justify;
  font-family: "Space Grotesk";
  font-size: 13px;

  background-color: black;
  background-image: url("Assets/Illustrations/Bathome1.png");
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-attachment: scroll;
  background-clip: border-box;

  border: 1px solid rgbA(128, 128, 128, 0.3);
  border-top: none;

  margin-left: 5vw;
  margin-right: 5vw;
}

main {
  position: relative;
  border-bottom: none;
  border-top: 3px solid rgbA(128, 128, 128, 0.3);
}

h2 {
  font-family: "rajdhani";
}

/*ENTETE*/

header {
  /*display: inline-block;
  border-top: none;*/
  width: 100vw;
}

/* code napiko */

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 80%;
  margin-bottom: 4%;
  margin-top: 2%;
}
/* katreto */

.logohome {
  height: auto;
  margin-left: 6%;
}

/*SECTION BRIEVE PRESENTATION DE BATMAN*/

.batman p:first-of-type {
  text-align: center;
  display: inline-block;
  width: 320px;
}

.batman {
  margin-top: 160px;
  margin-bottom: 160px;
  text-align: center;
}

.logosHaut {
  position: absolute;
  right: -95px;
}

.batman nav li {
  display: inline-block;
  border-style: hidden;
  background-color: rgba(225, 225, 225, 0.3);
  list-style-type: none;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "rajdhani";
  font-weight: 500;
  letter-spacing: 1px;
}

.batman li a {
  text-decoration: none;
  color: white;
}

.batman nav li:nth-child(2) {
  margin: 30px;
}

.flècheDown {
  text-align: center;
  /* margin-top: 200px;*/
}

.principal {
  padding: 5%;
  max-width: 100%;
}

/*1ère section, BATMAN AU CINEMA*/

.prezBatman div {
  display: flex;
  text-align: center;
  box-sizing: border-box;
  margin-top: 15px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  flex-wrap: wrap;
}

.cinema {
  max-width: 100%;
}

.robertP {
  width: 15vw;
  height: auto;
  max-width: 100%;
}

.christianB {
  width: 15vw;
  height: auto;
  max-width: 100%;
}

.benA {
  width: 15vw;
  height: auto;
  max-width: 100%;
}

figcaption {
  display: block;
  text-align: center;
}

/*2è section, NEMESIS*/

.nemesis div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*3è section, ALLIES*/

.bathome12 img {
  position: absolute;
  right: -105px;
}

.allies {
  margin-top: 300px;
  margin-bottom: 80px;
}

.allies div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
  flex-wrap: wrap;
}

/*Justice League*/

.justiceLeague img {
  width: 100vw;
  margin-top: 80px;
}

/*MULTIMEDIA*/

.multimédia {
  margin-top: 8%;
}

.bathome-img {
  margin-left: -13%;
}

.multimédia1 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.divEnfant {
  display: flex;
  align-items: center;
  gap: 0; /* Pas d'espace entre l'image et le texte */
  flex-wrap: wrap;
}

.arrow {
  height: 50px;
}

.batBegins {
  text-align: justify;
  line-height: 1;
  padding: 10px;
  border: solid 1px rgb(153, 138, 138);
  border-radius: 0px 10px 10px 0px;
  width: 400px;
  height: 230px;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom right,
    grey 2%,
    rgb(55, 61, 70),
    rgba(54, 103, 194, 0.2)
  );
}

.multimédia2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.multim2 {
  width: 95%;
  height: auto;
  margin: 0 auto;
}

/*4è section, CONTACT*/

.contact {
  background: linear-gradient(to right, #4c4e42, #142936);
  border-top-style: inset;
  background-size: auto;
  border-top-color: rgba(190, 185, 185, 0.3);
  border-top-width: 1.8px;
  border-bottom-style: inset;
  border-bottom-color: rgba(190, 185, 185, 0.3);
  border-bottom-width: 1.8px;
}

.h2 {
  text-align: center;
  margin-top: 5vh;
}

.formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 5vh;
  margin-bottom: 4vh;
  margin-left: 30%;
  width: 45%;
}

.formulaire label {
  color: #9ca1a7;
  font-weight: 400;
}

.email {
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  border-bottom: 1px solid grey;
}

.fréqEnvoi {
  display: inline-flex;
  border-bottom: 1px solid;
}

#fréquence {
  /*encoreà revoir pour le style du bouton de la liste*/
  border-style: none;
  width: 20px;
}

.news {
  display: block;
  border-bottom: 2px solid;
}

.boutons {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  gap: 25px;
  padding: 10px 20px;
  justify-content: center;
}

.boutons button {
  appearance: none;
  padding: 10px 20px;
  color: white;
  background-color: inherit;
  border-color: #19587d;
  font-weight: 600;
}

#commentaire {
  display: block;
  width: 100%;
  border-style: none;
  border-bottom: 1px solid grey;
  background-color: rgba(0, 0, 0, 0);
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="submit"] {
  background: linear-gradient(to right, #eddebf66, #89000866);
  margin-top: 3vh;
  padding: 15px 50px;
  color: white;
  font-family: "rajdhani";
  letter-spacing: 0.8px;
  font-weight: bold;
  border-width: 0px;
}

/*CITATION*/

.citation {
  margin-top: 15vh;
}

.citation img:first-of-type {
  margin-left: 20%;
}

.citation img:nth-of-type(2) {
  margin-left: 75%;
}

blockquote {
  font-weight: bold;
  width: 20%;
  margin-left: 40%;
  text-align: center;
  margin-bottom: 0px;
}

cite {
  font-weight: normal;
  color: rgb(216, 207, 207);
  font-style: normal;
}

.circle {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: radial-gradient(
    circle 3px at center,
    rgba(225, 225, 225, 0.1) 20%,
    rgb(19, 104, 201)
  );
}

.circle:nth-of-type(5) {
  width: 5.5px;
  height: 5.5px;
  background: radial-gradient(circle, rgb(19, 104, 201), rgb(19, 104, 201));
}

#circle {
  display: inline-block;
  margin-left: 47%;
  margin-top: 0px;
}

/*FOOTER*/

footer {
  margin: 6% 28% 6% 28%;
}

.wb {
  display: flex;
  font-size: 10px;
  margin-bottom: 15px;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.icones {
  display: flex;
  margin-top: 4%;
  justify-content: space-evenly;
  align-items: center;
  gap: 0px;
}

.icones img {
  transform: scale(0.65);
}
