/*.Bathome1 {
  width: 100%;
  background-image: url("Assets/Illustrations/Bathome1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}
  /* Ces propriétés si on mettait le background-image juste pour une section.*/
html {
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

body {
  /* code napiko */
  display: flex;
  flex-direction: column;
  /*overflow-x: hidden;*/
  /* katreto */

  box-sizing: border-box;

  color: white;

  background-color: black;
  background-image: url("Assets/Illustrations/Bathome1.png");
  background-repeat: no-repeat;
  /*background-position: inherit; /*semble n'avoir aucun effet sur le positionnement de l'image jusqu'ici*/
  background-size: 100vw auto;
  background-attachment: scroll;
  background-origin: border-box;
  background-clip: content-box;

  /* shorthand property du background-color : 
  background : color url repeat position*/

  text-align: justify;
  font-family: "Space Grotesk";
  font-size: 13px;

  /*margin-left: 400px;
  margin-right: 90px;*/
  border: solid grey;
  border-top: none;

  margin-left: 5vw;
  margin-right: 5vw;
}

main {
  /*border: solid grey;*/
  position: relative;
  border-bottom: none;
  border-top: solid grey;
  /*max-width: 100%;*/
}

header {
  display: inline-block;
  border-top: none;
  /*border-bottom: solid grey;*/
  width: 100vw;
}

/* code napiko */

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 80%;
  margin-bottom: 4%;
  margin-top: 2%;
}
/* katreto */

.logohome {
  height: auto;
  margin-left: 6%;
}

h2 {
  font-family: "rajdhani";
}

input[type="button"] {
  /*font-family: "rajdhani";*/
}

.Batman p:first-of-type {
  text-align: center;
  display: inline-block;
  width: 320px;
}

.Batman {
  margin-top: 160px;
  margin-bottom: 160px;
  text-align: center;
}

.LogosHaut {
  position: absolute;
  right: -95px;
}

header span a {
  color: azure;
  text-align: right;
  margin-left: 1200px;
  font-size: larger;
  font-family: "rajdhani";
  font-size: 35px;
  font-weight: bold;
}
.Batman nav li /*:first-child */ {
  display: inline-block;
  border-style: hidden;
  background-color: rgba(225, 225, 225, 0.3); /*A voir pour la couleur*/
  list-style-type: none;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "rajdhani";
  font-weight: 500;
  letter-spacing: 1px;
}

.Batman li a {
  text-decoration: none;
  color: white;
}

.Batman nav li:nth-child(2) {
  margin: 30px;
}

.Batman li {
  list-style-type: none;
}

.Batman aside {
  text-align: right;
} /*Positionnement des icones sur la bordure à revoir*/

.FlècheDown {
  text-align: center;
  /* margin-top: 200px;*/
}

.principal {
  padding: 5%;
  max-width: 100%;
}

.PrezBatman div {
  display: flex;
  text-align: center;
  box-sizing: border-box;
  margin-top: 15px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  flex-wrap: wrap;
}

.cinema {
  max-width: 100%;
}

.robertP {
  width: 15vw;
  height: auto;
  max-width: 100%;
}

.christianB {
  width: 15vw;
  height: auto;
  max-width: 100%;
}

.benA {
  width: 15vw;
  height: auto;
  max-width: 100%;
}

figcaption {
  display: block;
  text-align: center;
}

/*2è section, NEMESIS*/

section h2 img {
  padding: 5px;
  margin-left: 0px;
  width: 10%;
  /*Avoir pour le rapprochement de l'image et du NEMESIS*/
}

/*section h2 {
  margin-right: 0%;
  padding-right: 0px;
}*/

.Nemesis div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
} /* A voir pour que les images tiennent dans le contenu de la page principale*/

/*ALLIES*/

.Bathome12 img {
  position: absolute;
  right: -105px;
}

.Allies {
  margin-top: 300px;
  margin-bottom: 80px;
}

.Allies div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
  flex-wrap: wrap;
}

/*Justice League*/

.JusticeLeague img {
  width: 100vw;
  margin-top: 80px;
}

/*MULTIMEDIA*/

/*.Multimédia1 {
  text-align: center;
}*/

/* .Multimédia1 img:first-of-type {
  margin-right: 500px;
}

.Multimédia1 img:nth-last-of-type(2) {
  margin-right: 500px;
}

.Multimédia1 img:nth-last-of-type(3) {
  margin-left: 500px;
} */

.bathome-img {
  margin-left: -13%;
}

.Multimédia1 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.divEnfant {
  display: flex;
  align-items: center;
  gap: 0; /* Pas d'espace entre l'image et le texte */
  flex-wrap: wrap;
}

.arrow {
  height: 50px;
}

.arrow {
  height: 50px;
}

.batBegins {
  text-align: justify;
  line-height: 1;
  padding: 10px;
  padding-right: 20px;
  padding-bottom: 8px;
  border: solid 1px rgb(153, 138, 138);
  border-radius: 0px 10px 10px 0px;
  width: 400px;
  height: 230px;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom right,
    grey 2%,
    rgb(55, 61, 70),
    rgba(54, 103, 194, 0.2)
  );
}

.Multimédia2 {
  /*margin-top: 150px;
  margin-bottom: 90px;
  text-align: center;
  /* width: 2000px;*/

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 90px;
}

.multim2 {
  width: 95%;
  height: auto;
  margin: 0 auto;
}

.contact {
  background: linear-gradient(to right, #4c4e42, #142936);
  border-top-style: inset;
  background-size: auto;
  border-top-color: rgba(190, 185, 185, 2);
  border-top-width: 1.8px;
  border-bottom-style: inset;
  border-bottom-color: rgba(190, 185, 185, 2);
  border-bottom-width: 1.8px;
}

.formulaire {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 30%;
  padding-left: 0px;
  width: 45%;
}

/*.formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
.formulaire label {
  color: #9ca1a7;
  font-weight: 400;
}

.email {
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  border-bottom: 1px solid grey;
} /*Les bordures sont toujours l
à. A revoir*/

.h2 {
  text-align: center;
  /*margin-top: 40px;*/
  padding-top: 35px;
}

.fréqEnvoi {
  display: inline-flex;
  justify-content: space-between;
  gap: 25px;
  border-bottom: 1px solid;
}

#fréquence {
  border-style: none; /*A revoir pour le style de la liste */
  width: 20px;
}

.news {
  display: block;
  border-bottom: 2px solid;
}

.boutons {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  gap: 25px;
  padding: 10px 20px;
  justify-content: center;
}

.boutons button {
  appearance: none;
  padding: 10px 20px;
  color: white;
  background-color: inherit;
  border-color: #19587d;
  font-weight: 600;
}

.test {
  display: block;
  border-style: none;
  border-bottom-style: solid;
}

#commentaire {
  display: block;
  border-bottom: 1px solid grey;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

input[type="submit"] {
  background: linear-gradient(to right, #eddebf66, #89000866);
  /*margin-left: 40%;*/
  margin-top: 17px;
  padding: 15px 50px;
  color: white;
  font-family: "rajdhani";
  letter-spacing: 0.8px;
  font-weight: bold;
  border-width: 0px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*CITATION*/

.citation {
  /* margin-left: 40px;
  margin-right: 40px;*/
  margin-top: 150px;
}

blockquote {
  display: inline-block;
  font-weight: bold;
  width: 20%;
  margin-left: 40%;
  text-align: center;
  margin-bottom: 0px;
}

cite {
  font-weight: normal;
  color: rgb(216, 207, 207);
  font-style: normal;
}

.citation img:first-of-type {
  margin-left: 20%;
}

.citation img:nth-of-type(2) {
  margin-left: 75%;
}

.circle {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  /*background-color: rgb(19, 104, 201);*/
  background: radial-gradient(
    circle 3px at center,
    black 20%,
    rgb(19, 104, 201)
  );
}

.circle:nth-of-type(5) {
  width: 5.5px;
  height: 5.5px;
  background: radial-gradient(circle, rgb(19, 104, 201), rgb(19, 104, 201));
}

#circle {
  display: inline-block;
  margin-left: 47%;
  margin-top: 0px;
}

.citation p:nth-of-type(3) {
  margin-top: 0px;
}

/*FOOTER*/

footer {
  margin: 6% 28% 6% 37%;
}

.wb {
  display: flex;
  font-size: 10px;
  margin-bottom: 15px;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.icones {
  display: flex;
  margin-top: 4%;
  justify-content: space-evenly;
  align-items: center;
  gap: 0px;
}

.icones img {
  transform: scale(0.65);
}
/*a > img {
  height: 30px;
  width: 30px;
  margin-left: 5px;
}*/
